<div class="form-inline" style="margin-bottom:25px ">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Search Table</span
      >
    </div>
    <input
      [(ngModel)]="searchValue"
      (ngModelChange)="onCustomerSearch()"
      type="text"
      class="form-control"
      placeholder="Search"
    />
  </div>
</div>

<table class="table table-bordered text-white

">
  <thead>
    <tr>
      <th>#</th>
      <th sortField="first" [customers]="customers">
        First Name <i class="fa fa-sort"></i>
      </th>
      <th sortField="last" [customers]="customers">
        Last Name <i class="fa fa-sort"></i>
      </th>
      <th sortField="amount" [customers]="customers">
        Order Amount <i class="fa fa-sort"></i>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let customer of customers; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ customer.first }}</td>
      <td>{{ customer.last }}</td>
      <td>{{ customer.amount }}</td>
    </tr>
  </tbody>
</table>
