<div class="container special"><div class="jumbotron">
    <h1 class="display-4">Welcome to Youtube Project!</h1>
    <p class="lead">
      This project extracts data from youtube API and search for videos accordingly
    </p>
    <p>
      It uses different features of angular and implement the search smoothly.
    </p>
    <p class="lead">
      <a
        class="btn btn-danger btn-lg"
        href="https://angular.io/guide"
        role="button"
        >Learn more</a
      >
    </p>
  </div>
</div>
