
<div class="container">
  <div class="jumbotron">
      <form  #loginForm="ngForm"
      (ngSubmit)="onLogin(loginForm)" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input ngModel type="email" class="form-control" name="loginEmail" aria-describedby="emailHelp" placeholder="Enter email"  required
    email  #email="ngModel">
    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input ngModel type="password" class="form-control"  name="password" placeholder="Password" #password="ngModel" required >
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter password!</span>
  </div>



  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-dark">Login</button>
</form>
</div>
</div>