<div class="jumbotron">
  <h1 class="display-4">Welcome to Reactive Forms Project!</h1>
  <p class="lead">
    This project includes reactive forms for signup page where fields are
    validated and also uses local storage to check for all registered names in
    the list
  </p>
  <p>
    It uses reactive forms from angular and implement validations accordingly.
  </p>
  <p class="lead">
    <a
      class="btn btn-primary btn-lg"
      href="https://angular.io/guide/reactive-forms"
      role="button"
      >Learn more</a
    >
  </p>
</div>
